@import './index.css';

body {
  min-width: 800px;
  width: auto !important;
  width: 800px;
}

p,
p:hover {
  color: #c9d1d9;
  cursor: auto;
}

#flex-container {
  display: flex !important;
  flex-direction: column !important;
  min-width: 600px;
  margin: 40px;
}

#selector-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#filter-container {
  display: flex;
  flex-direction: row;
  max-width: 265px;
  margin-right: 20px;
}

#search-container {
  min-width: 0;
  flex: auto;
  align-self: center;
}

#search-bar {
  border: 1.5px solid;
  border-radius: 6px;
  padding: 7px 20px;
  text-align: left;
  font-weight: 600;
  font-size: 15px;
  background-color: #0d1117;
  border-color: #30363d !important;
  color: #c9d1d9;
  height: 38px;
  width: 100%;
}

.off-filter,
.active-filter {
  border: 1.5px solid;
  padding: 7px 20px;
  text-align: center !important;
  font-weight: 600;
  font-size: 15px;
  background-color: #0d1117;
  border-color: #30363d;
  color: #c9d1d9;
}

.off-filter:first-child,
.active-filter:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-right: none;
}

.off-filter:last-child,
.active-filter:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-left: none;
}

.off-filter:hover {
  background-color: #161b22;
  color: #c9d1d9;
}

.active-filter,
.active-filter:hover {
  background-color: #2a9446;
  border-color: #21bf4d;
  color: #fff;
}

#results-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.result {
  border: 1.5px solid;
  border-bottom: none;
  padding: 15px 20px;
  text-align: left;
  font-weight: 600;
  font-size: 16px;
  background-color: #0d1117;
  border-color: #30363d;
  margin: 0px;
}

.visits {
  float: right;
  margin: 0px;
  margin-top: 2px;
  font-weight: 400;
  font-size: 12px;
}

.result:first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.result:last-child {
  border-bottom: 1.5px solid #30363d;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

* {
  box-sizing: border-box;
}

/* remove red border default */
input,
input:focus {
  box-shadow: none !important;
  outline: none !important;
}
